{% extends 'base.html' %}

{% block head %}
<!--Here goes the title of the page -->
<title>Alexander Castañeda</title>
<link rel="stylesheet" href='./static/css/index.css'>
{% endblock %}

{% block body %}
<!--Here goes the body of the page -->

<div class="top-menu">
    <ul>
        <li id="h"><a href="{{ url_for('index')}}">home</a></li>
        <li><a href="{{ url_for('aboutme')}}">about</a></li>
        <li><a href="{{ url_for('work')}}">work</a></li>
        <li><a href="{{ url_for('hobbies')}}">hobbies</a></li>
        <li><a href="{{ url_for('education')}}">education</a></li>
        <li><a href="{{ url_for('contact')}}">contact</a></li>

    </ul>
</div>

<div class="home" id="home">


     <div class="home-content">
        <div class="home-left-text">
            <h1>Hi!<span> I'm Alexander Castañeda💻</span></h1>
            <h2>Technologist that loves taking ideation to implementation and leveraging the latest in technology to business.</h2>
            <a href="{{ url_for('work') }}">see my work <img src="./static/img/code_icon.png"></a>
        </div>
        
        <div class="home-profile-image">
            <img id="profile-image" src="./static/img/ander-avatar.jpg">
        </div>
     </div>
    

</div>
{% endblock %}