{% extends 'base.html' %}
{% block head %}
<!--Here goes the title of the page -->
<title>Alexander Castañeda</title>
<link rel="stylesheet" href='./static/css/timeline.css'>
{% endblock %}

{% block body %}
<div class="top-menu">
    <ul>
        <li><a href="{{ url_for('index')}}">home</a></li>
        <li><a href="{{ url_for('aboutme')}}">about</a></li>
        <li><a href="{{ url_for('work')}}">work</a></li>
        <li><a href="{{ url_for('hobbies')}}">hobbies</a></li>
        <li><a href="{{url_for('education')}}">education</a></li>
        <li><a href="{{ url_for('travel')}}">traveling</a></li> 
        <li id="w"><a href="{{ url_for('timeline')}}">timeline</a></li> 

    </ul>
</div>

<!--- HTML form data --->
<form id="form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br>
    <label for="content">Content:</label>
    <input type="text" id="content" name="content"><br>
    <button id="btn" type="submit">Submit</button>
</form> 

<div class="post-container">
{% for post in posts %}
    <div class="post">
        <h1> {{ post.name }}</h1>
        <h2> {{ post.email }}</h2>
        <p>{{ post.content }}</p>
    </div>
{% endfor %}
</div>

<script>
const form = document.getElementById('form');
form.addEventListener('submit', function(e) {
    e.preventDefault();
    payload = new FormData(document.getElementById("form"));
    // Post the payload using Fetch
    fetch( '/api/timeline_post' ,              //endpoint hardcoded in, can this be changed to jinja syntax 
    {
    method: 'POST',
    body: payload,
    })
    .then((res) => res.json())
    .then(() => {
        window.location.reload();
    })
    .catch(() => alert("error"));
})
</script>

{% endblock %}